{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "extends": [
    "airbnb", 
    "plugin:flowtype/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "plugins": [
    "@typescript-eslint",
    "flowtype", 
    "module-resolver"
  ],
  "rules": {
    "module-resolver/use-alias": 0, /*[
      "error", {
        "ignoreDepth": 1
      }
    ],*/
    "import/extensions": [
        "error", 
        "ignorePackages", 
        {
          "js": "never",
          "jsx": "never",
          "ts": "never",
          "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ],
    "react/jsx-indent-props": [1, 4],
    "react/jsx-indent": ["error", 4],
    "react/require-default-props": [
        "error", 
        { 
          "forbidDefaultForRequired": false, 
          "ignoreFunctionalComponents": true
      }
    ],
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "no-use-before-define": ["error", { "variables": false }],
    "arrow-body-style": "off",
    "arrow-parens": ["error", "as-needed"],
    "no-console": "off",
    "no-continue": "off",
    "jsx-a11y/href-no-hash": "off",
    "object-curly-newline": "off",
    "import/prefer-default-export": "off",
    "import/no-cycle": [2, { "maxDepth": 1 }],
    "function-paren-newline": ["error", "consistent"],
    "jsx-a11y/anchor-is-valid": [
      "warn",
      {
        "aspects": ["invalidHref"]
      }
    ],
    "flowtype/space-after-type-colon": "off",
    "flowtype/no-types-missing-file-annotation": "off",
    "quote-props": "off",
    "import/no-unresolved": [
      "error",
      {
        "ignore": [ "@tonlabs" ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
