{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["module-resolver"],
  "rules": {
    "module-resolver/use-alias": 0, /*["error", {
      "ignoreDepth": 1
    }],*/
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent-props": [1, 4],
    "react/jsx-indent": ["error", 4],
    "react/prefer-stateless-function": "off",
    "no-use-before-define": ["error", { "variables": false }],
    "indent": ["error", 4],
    "arrow-body-style": "off",
    "no-console": "off",
    "no-continue": "off",
    "object-curly-newline": "off",
    "class-methods-use-this": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "import/prefer-default-export": "off",
    "import/no-unresolved": [
      "error",
      {
        "ignore": [ "@tonlabs" ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}
