# OSX
#
.DS_Store

# Build
/node_modules
**/node_modules
npm-debug.log
yarn-error.log
tsconfig.tsbuildinfo

# Locks
package-lock.json
# yarn.lock

#IDE
.idea/

#Test results
coverage/

lib/

.gitsecret/keys/random_seed
!*.secret

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild
.cxx/